bokeh==3.7.0
keras==3.9.0
matplotlib==3.10.1
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
python-dotenv==1.0.1
scikit_learn==1.6.1
seaborn==0.13.2
scikit-image==0.25.2
tensorflow==2.19.0
umap_learn==0.5.7
xxhash==3.5.0
# TODO mettre à jour